  /*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

.container {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.viewer {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

#viewer-container {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
}

.side-menu {
  z-index: 1;
  position: fixed;
  background-color: rgba(235, 235, 235, 0.85);
  height: 75%;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  align-content:space-between;
  justify-content: space-around;
}


#side-menu-left {
  width: 250px;
  margin-left: 2vh;
}

#side-menu-right {
  width: 350px;
  right: 2vh;
}

/* styling menu*/

.menu-left-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}


.menu-left-placeholder {
  display: block;
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  text-align: left;
}

.menu-right-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  margin: 20px;
}


.menu-right-placeholder {
  display: block;
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  text-align: left;
}

/* Properties Table */
.table-container {
  position: block;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  margin: 20px;
}

#spaces-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

#spaces-table td, #spaces-table th {
  border: 1px solid #ddd;
  padding: 10px;
  
}

#spaces-table tr:nth-child(even){background-color: #f2f2f2;}

#spaces-table tr:hover {background-color: #ddd;}

#spaces-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
