/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow: hidden;
}

/* positioning */

.container {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.viewer {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

.side-menu {
    z-index: 1;
    position: fixed;
    background-color: rgba(235, 235, 235, 0.85);
    margin-top: 2vh;
    height: 96vh;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    align-content:space-between;
}


#side-menu-left {
    width: 250px;
    margin-left: 2vh;
}

#side-menu-right {
    width: 350px;
    right: 2vh;
}

/* styling */

.menu-left-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }


  .menu-left-placeholder {
    display: block;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    text-align: left;
  }

  .menu-right-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }


  .menu-right-placeholder {
    display: block;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    text-align: left;
  }